/* latin */
@font-face {
  font-family: 'Bungee Outline';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/bungee-outline.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-image: url('/assets/body-background.png');
  background-repeat: repeat;
}

canvas {
    background-image: url('/assets/canvas-background.png');
    display: block;
    background-repeat: repeat;
    margin: 0 20px;
}

.pinball-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pinball-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pinball-container2 > div{
  background-color: #304D5B;
  margin-bottom: 20px;
}
.score {
  background-color: #304D5B;
  width: 230px;
}

.info {
  width: 230px;
  height: 100%;
  color: white;
  text-decoration: none;
  text-align: center;

}

.info h1 {
  color: #D74F43 !important;
  padding-top: 20px;
  font-family: 'Bungee Outline', cursive;
  font-size: 40px;
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


.info p {
  font-family: 'helvetica', sans-serif;
  font-size: 17px;
}

.info a {
  color: white;
}

.info a:visited {
  color: white;
}

.info i {
  font-size: 26px;
  margin-bottom: 20px;
}

.info i:hover {
  color: #D74F43;
}

.score {
  font-family: 'helvetica', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
  height: 100%;
}

#test, #high {
  display: inline;
}

span {
  font-size: 17px;
}

#controls {
  color: #D74F43;
}
